/* Hide scrollbar while keeping the ability to scroll */
.hidden-scrollbar {
    overflow: -moz-scrollbars-none; /* For older Firefox versions */
    scrollbar-width: none; /* For modern Firefox */
  }
  
  .hidden-scrollbar::-webkit-scrollbar {
    display: none; /* For Webkit browsers */
  }
  
  /* Hide the spinner in Chrome, Safari, and Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Optionally, to remove the spinner in Internet Explorer */
input[type="number"] {
    -ms-appearance: textfield;
}
